.apps-container {
  position: relative;

  &__custom-content {
    min-width: 320px;
    padding: 16px;

    .list-items {
      width: 100%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        width: 90px;
        height: 90px;
        cursor: pointer;
        border-radius: var(--m-border-radius);

        &__image {
          max-width: 30px;
        }

        &__name {
          color: var(--m-text);
          font-weight: 400;
        }

        &:hover {
          background-color: var(--m-subtle-card-background-color);
        }
      }
    }
  }

  .apps-trigger-icon {
    color: var(--m-icon-color);
    background-color: var(--m-header-background-color);

    &:hover {
      color: var(--m-primary);
    }
  }

  .custom-trigger {
    padding: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (max-width: 767.88px) {
  .apps-container {
    &__custom-content {
      position: fixed;
      top: 50px;
      transform: unset;
      left: 0;
      right: 0;
      margin: 20px 16px 0 16px;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;

      .list-items {
        &__item {
          width: 110px;
          height: 110px;
        }
      }
    }
  }
}
