.content-container {
  width: 100%;
  position: relative;
  background-color: #f6f6f7;
  border-radius: var(--m-border-radius-xl);
  height: 100%;

  &:has(.input) {
    height: 97%;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--m-border);
    padding: 8px 16px;

    &__info {
      display: flex;
      flex-direction: column;

      .name {
        font-weight: 500;
      }

      .status {
        font-size: 12px;
        color: #5f6368;
      }
    }

    &__actions {
      display: flex;
      align-items: center;
      gap: 8px;

      svg {
        font-size: 18px;
        color: #5f6368;
      }

      &__custom-dropdown-icon {
        color: #5f6368;
      }
    }

    &__back-icon {
      svg {
        font-size: 24px;
        justify-content: flex-start;
        color: #5f6368;
      }
    }
  }

  .content {
    position: relative;
    width: 100%;
    padding: 16px 16px 32px;
    height: 65vh;
    overflow-y: auto;

    &::-webkit-scrollbar-thumb {
      background-color: #f6f6f7;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: var(--m-subtle-bolder);
      }
    }
  }

  .input {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #f6f6f7;
    padding: 12px 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 150px;
    z-index: var(--m-z-index-fixed);
    border: 1px solid transparent;

    &__audio-message {
      grid-template-columns: 1fr;
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 50px;
      height: auto;
      background-color: var(--m-white);
      padding: 0 16px;
      border-radius: var(--m-border-radius);
      gap: 16px;

      .input-text {
        width: 100%;
        border: none;
        height: auto;
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
        padding: 12px 0;
        min-height: 30px;
        resize: none;
        overflow: hidden;

        &:focus {
          outline: none;
        }
      }
    }

    .actions {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 6px;
      background-color: var(--m-white);
      padding-right: 16px;
      min-height: 50px;
      padding-bottom: 8px;

      &__items {
        display: flex;
        align-items: center;
        gap: 6px;

        svg {
          font-size: 18px;
          cursor: pointer;
        }

        &__button-send {
          width: 30px;
          height: 30px;
          background-color: #5353ef;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 10px;

          svg {
            color: var(--m-white);
            transform: rotate(44deg);
            font-size: 20px;
          }
        }
      }
    }

    &__audio-recorder {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      background-color: var(--m-white);
      padding: 0 16px;
      border-radius: var(--m-border-radius);
      gap: 16px;
    }
  }

  .emoji-picker {
    position: -webkit-sticky;
    position: sticky;
    bottom: 60px;
    right: 90px;
    z-index: var(--m-z-index-dropdown);
    display: flex;
    justify-content: flex-end;
    position: absolute;
    padding: 10px;
    border-radius: 4px;
    box-shadow: var(--m-dropdown-shadow);
    background-color: #fff;
    border: 1px solid transparent;
  }

  .media-view {
    background-color: #ededed;
    background-color: var(--m-subtle);
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
    bottom: 0;
    z-index: var(--m-z-index-dropdown);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__header {
      display: flex;
      align-items: center;
      gap: 95px;

      .title {
        font-weight: 500;
      }
    }

    &__preview {
      display: flex;
      justify-content: center;
      background-color: transparent;
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 40px;

      .button-send {
        width: 30px;
        height: 30px;
        background-color: #5353ef;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        cursor: pointer;

        svg {
          color: var(--m-white);
          transform: rotate(44deg);
          font-size: 20px;
        }
      }
    }
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;

    &__image {
      width: 400px;
      display: flex;
    }
  }
}

[m-data-theme='dark'] {
  .content-container {
    background-color: #2e3447;

    .header {
      &__info {
        .name {
          color: var(--m-text);
        }

        .status {
          color: var(--m-text-muted);
        }
      }

      &__actions {
        svg {
          color: var(--m-icon-color);
        }

        &__custom-dropdown-icon {
          color: #5f6368;
        }
      }
    }

    .content {
      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }

      &:hover {
        &::-webkit-scrollbar-thumb {
          background-color: var(--m-scrollbar-color-hovered);
        }
      }
    }

    .input {
      background-color: #2e3447;

      &__content {
        background-color: transparent;
        border-top: 1px solid var(--m-border-color);
        border-left: 1px solid var(--m-border-color);
        border-bottom: 1px solid var(--m-border-color);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;

        .input-text {
          background-color: transparent;
          color: #949dad;

          &::-webkit-input-placeholder {
            color: #949dad;
          }

          &::-moz-placeholder {
            color: #949dad;
          }

          &:-ms-input-placeholder {
            color: #949dad;
          }

          &::-ms-input-placeholder {
            color: #949dad;
          }

          &::placeholder {
            color: #949dad;
          }
        }
      }
    }

    .actions {
      background-color: transparent;
      border-top: 1px solid var(--m-border-color);
      border-right: 1px solid var(--m-border-color);
      border-bottom: 1px solid var(--m-border-color);
      border-top-right-radius: var(--m-border-radius);
      border-bottom-right-radius: var(--m-border-radius);

      &__items {
        svg {
          color: var(--m-icon-color);

          &:hover {
            color: var(--m-text);
          }
        }

        &__button-send {
          svg {
            color: var(--m-text);
          }
        }
      }
    }
  }
}
