.map-container {
  width: 100%;
  background-color: var(--m-card-background-color);
  box-shadow: var(--m-box-shadow);
  border-radius: var(--m-border-radius-md);

  &__header {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-weight: 500;
      color: var(--m-text);
      font-size: 14px;
      display: flex;
    }

    .filter__dropdown {
      border-radius: var(--m-border-radius);
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 3px 10px;
      cursor: pointer;
      font-size: 12px;

      svg {
        font-size: 18px;
      }
    }
  }

  .vector__map {
    height: 300px;
    width: 100%;
    padding: 0 8px;
  }
}
