.project-overview {
  color: var(--m-text);

  .comment__content {
    background-color: #f3f5f7;
    padding: 10px;
    border-radius: var(--m-border-radius);
    margin: 10px 0 10px 45px;
  }

  .file__custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 10px;
    padding: 10px;
    border-radius: var(--m-border-radius);

    &:hover {
      background-color: var(--m-subtle-light);
    }

    .file__extension {
      background-color: var(--m-primary);
      color: var(--m-white);
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      font-size: 14px;
      border-radius: var(--m-border-radius);
    }

    // .file__info {
    //     // display: flex;
    //     // flex-direction: column;
    //     // gap: 5px;
    //     white-space: nowrap;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    // }
  }
}
