.content-container {
  background-color: var(--m-background-color);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      width: 130px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 16px 40px;
    box-sizing: border-box;
    color: rgb(94, 108, 132);
    background-color: var(--m-white);
    box-shadow: var(--m-box-shadow);
    border-radius: var(--m-border-radius);

    .title {
      width: 100%;
      display: flex;
      justify-content: center;

      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: rgb(23, 43, 77);
      }
    }
  }
}

@media (max-width: 480px) {
  .content-container {
    &__content {
      width: 320px;
    }
  }
}
