.list-group-container {
  width: 100%;
  position: relative;
  padding-bottom: 12px;

  &__items {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--m-border);
    border-radius: var(--m-border-radius);

    &__item {
      border-top: 1px solid var(--m-border);
      color: var(--m-text);

      &:first-child {
        border-top: unset;
      }

      &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 10px 16px;
        font-size: 14px;
        border-top: 1px solid var(--m-border);

        &:first-child {
          border-top: unset;
        }

        &--active {
          background-color: var(--m-primary);
          color: var(--m-white);
        }
      }
    }

    &--borderless {
      border: none;

      .list-group-container__items__item__container {
        border: none;
        padding: 10px 0;
      }
    }
  }
}
