.top-list-overview {
  width: 100%;
  position: relative;
  padding: 0 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .value {
      display: flex;
      align-items: center;
      gap: 4px;

      &__label {
        font-size: 24px;
        font-weight: 600;
      }

      &--money {
        color: var(--m-text);

        &::first-letter {
          color: var(--m-text-muted);
          font-size: 12px;
          vertical-align: super;
          margin-right: 2px;
        }
      }
    }

    .description {
      font-size: 13px;
      color: var(--m-text-muted);
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 8px;

    .labels {
      display: flex;
      align-items: center;
      gap: 8px;
      min-width: 100px;
      max-width: 150px;

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--m-text);
      }
    }

    .bars {
      display: flex;
      gap: 6px;
      flex-grow: 1;
      width: 100%;

      &__bar {
        height: 8px;
        border-radius: 2px;
        background-color: lightgray;
        position: relative;

        .tooltip {
          position: absolute;
          top: 16px;
          left: 0;
          background-color: var(--m-tooltip-background-color);
          box-shadow: var(--m-dropdown-shadow);
          min-width: 140px;
          border-radius: var(--m-border-radius);
          transition:
            opacity 0.3s ease-in-out,
            visibility 0.3s ease-in-out;
          z-index: var(--m-z-index-dropdown);
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          display: flex;
          flex-direction: column;
          border: 1px solid var(--m-border-tooltip);

          > span {
            color: var(--m-text);

            &:first-child {
              padding: 6px 6px 0 6px;
              font-size: 12px;
            }

            &:last-child {
              padding: 8px;
              font-weight: 600;
            }
          }
        }

        &:hover {
          .tooltip {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
