.app-content-container {
  // padding: 1.8rem 1.8rem .5rem;
  padding: 0;

  // &--reset-padding {
  //     padding: 0 0 0 10px;
  // }
  // &--reset-padding-mobile {
  //     padding: 0 0 0 0;
  //     background-color: var(--m-white);
  // }
}
