.read-email-container {
  .email__details {
    padding: 16px;

    .actions__detail {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 25px;
      margin-bottom: 15px;

      svg {
        font-size: var(--ct-icon-size);
        color: var(--ct-icon-color);
      }
    }

    .subject__detail {
      font-size: 14px;
      font-weight: 500;
      color: var(--tc-dark);
    }

    .sender__detail {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .sender__info {
        display: flex;
        align-items: center;
        gap: 10px;

        &__email {
          display: flex;
          align-items: center;
          gap: 10px;

          .sender__name {
            font-weight: 500;
            font-size: 14px;
            color: var(--dark);
          }

          .sender__email {
            display: flex;
            align-items: center;
            gap: 0;
            font-weight: 400;
            font-size: 12px;
            color: var(--ct-sub-title-color);
            position: relative;

            svg {
              font-size: 16px;
            }

            &::before {
              content: '<';
              position: absolute;
              left: -8px;
            }

            &::after {
              content: '>';
              position: absolute;
              right: -8px;
            }
          }
        }
      }

      .sender__date {
        font-weight: 400;
        font-size: 12px;
        color: var(--ct-sub-title-color);
        padding-right: 5px;
      }

      svg {
        font-size: var(--ct-icon-size);
        color: var(--ct-icon-color);
      }
    }

    .message__detail {
      margin-top: 20px;
      font-size: 14px;
      color: var(--dark);
      line-height: 21px;
    }

    .horizontal__separator {
      width: 100%;
      height: 1px;
      background-color: #eae8f1;
      margin: 20px 0;
    }

    .message__attachments {
      display: flex;
      gap: 10px;
      color: var(--dark);

      svg {
        font-size: var(--ct-icon-size);
        color: var(--ct-icon-color);
      }

      .attachment__list {
      }
    }

    .buttons__detail {
      display: flex;
      align-items: center;
      gap: 20px;

      .action__button {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 20px;

        border: 1px solid #5a697d;
        padding: 5px 10px;
        border-radius: 20px;
        cursor: pointer;

        svg {
          font-size: 20px;
        }

        &:hover {
          background-color: #f7f7f7;
        }
      }
    }
  }
}
