.languages-container {
  cursor: pointer;
  .default__selector {
    display: flex;
    align-items: center;
    gap: 16px;
    white-space: nowrap;

    &--icon {
      font-size: 20px;
      color: var(--m-text);
    }
  }

  .selector__sm {
    display: none;

    .selector {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: var(--m-subtle-xbolder);
      border: 1px solid var(--m-subtle-xxbolder);

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -o-object-fit: contain;
        object-fit: contain;
      }
    }
  }

  .image {
    width: 20px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      border-radius: 2px;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  .image-selected {
    width: 25px;
    height: 17px;
    border-radius: 2px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.language-dropdown-selector {
  padding: 8px;

  &__item {
    padding: 0.5rem 8px !important;

    .image {
      width: 20px;
      height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        border-radius: 2px;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
  }

  &--selected {
    background-color: #eaeefe !important;
    padding: 0 8px;

    color: #204ff8 !important;
  }
}

@media (max-width: 767.88px) {
  .languages-container {
    .default__selector {
      display: none;
    }

    .selector__sm {
      display: block;
    }
  }

  .language-dropdown-selector {
    position: fixed;
    top: 50px;
    transform: unset;
    left: 0;
    right: 0;
    margin: 20px 16px 0 16px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

@media (min-width: 767.89px) {
  .language-dropdown-selector {
    min-width: 180px;
  }
}
