.weight-100 {
  font-weight: 100;
}

.weight-200 {
  font-weight: 200;
}

.weight-300 {
  font-weight: 300;
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.weight-800 {
  font-weight: 800;
}

.weight-900 {
  font-weight: 900;
}

.size-10 {
  font-size: 0.625rem;
}
.size-11 {
  font-size: 0.6875rem;
}
.size-12 {
  font-size: 0.75rem;
}
.size-13 {
  font-size: 0.8125rem;
}
.size-14 {
  font-size: 0.875rem;
}
.size-15 {
  font-size: 0.9375rem;
}
.size-16 {
  font-size: 1rem;
}
.size-17 {
  font-size: 1.0625rem;
}
.size-18 {
  font-size: 1.125rem;
}
.size-19 {
  font-size: 1.1875rem;
}
.size-20 {
  font-size: 1.25rem;
}
.size-21 {
  font-size: 1.3125rem;
}
.size-22 {
  font-size: 1.375rem;
}
.size-23 {
  font-size: 1.4375rem;
}
.size-24 {
  font-size: 1.5rem;
}
.size-25 {
  font-size: 1.5625rem;
}
