.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  -moz-column-gap: 16px;
  column-gap: 16px;
  row-gap: 16px;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.88px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 8px;
    column-gap: 8px;

    .sm,
    .sm-1 {
      grid-column: span 1;
    }
    .sm-2 {
      grid-column: span 2;
    }
    .sm-3 {
      grid-column: span 3;
    }
    .sm-4 {
      grid-column: span 4;
    }
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(8, 1fr);
    -moz-column-gap: 16px;
    column-gap: 16px;

    .md,
    .md-1 {
      grid-column: span 1;
    }
    .md-2 {
      grid-column: span 2;
    }
    .md-3 {
      grid-column: span 3;
    }
    .md-4 {
      grid-column: span 4;
    }
    .md-5 {
      grid-column: span 5;
    }
    .md-6 {
      grid-column: span 6;
    }
    .md-7 {
      grid-column: span 7;
    }
    .md-8 {
      grid-column: span 8;
    }
  }
}

@media (min-width: 1024px) {
  .xl,
  .xl-1 {
    grid-column: span 1;
  }
  .xl-2 {
    grid-column: span 2;
  }
  .xl-3 {
    grid-column: span 3;
  }
  .xl-4 {
    grid-column: span 4;
  }
  .xl-5 {
    grid-column: span 5;
  }
  .xl-6 {
    grid-column: span 6;
  }
  .xl-7 {
    grid-column: span 7;
  }
  .xl-8 {
    grid-column: span 8;
  }
  .xl-9 {
    grid-column: span 9;
  }
  .xl-10 {
    grid-column: span 10;
  }
  .xl-11 {
    grid-column: span 11;
  }
  .xl-12 {
    grid-column: span 12;
  }
}
