.profile-container {
  width: 100%;
  position: relative;

  &__header {
    height: 180px;
    background-image: url('../../../assets//extras/background.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 16px;
    position: relative;
    margin-bottom: 60px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    &--avatar {
      position: absolute;
      bottom: -45px;
      left: 30px;
    }
  }

  &__user {
    margin-left: 150px;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 30px;

    &--name {
      font-size: 24px;
      font-weight: 600;
    }
  }
}
