.side-container-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(35, 48, 67, 0.28);
  z-index: var(--m-z-index-modal-backdrop, 1000);
  transition: opacity 0.4s ease-in-out;
}

.side-container {
  width: 35vw;
  background: var(--m-sidebar-background-color);
  height: calc(100% - 70px);
  position: fixed;
  top: 70px;
  bottom: 0;
  right: 0;
  box-shadow: var(--m-box-shadow);
  padding: 20px;
  overflow-y: auto;
  transform: translateX(35vw);
  transition: transform 0.4s ease-in-out;
  border-left: 1px solid var(--m-border-color);
  color: var(--m-text);
  z-index: var(--m-z-index-modal, 1001);

  &--title {
    font-size: 16px;
    font-weight: 500;
  }

  &--opened {
    transform: translateX(0);
  }
}
