.progress-indicator {
  width: 100%;
  position: relative;
  padding: 0 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .info {
      display: flex;
      align-items: center;
      gap: 8px;

      &__value {
        font-size: 26px;
        font-weight: 600;
        color: var(--m-text);
      }
    }
  }

  &__bars {
    width: 100%;
    background-color: var(--m-subtle-light);
    border-radius: 2px;

    .bar {
      height: 12px;
      width: 30%;
      background-color: var(--m-subtle-xxbolder);
      border-radius: 2px;
    }
  }

  &__description {
    font-size: 13px;
    color: var(--m-text-muted);
  }
}
