.login-container {
  .forgot__password {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 8px 0 12px 0;
    color: var(--m-primary);

    span {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .social__login {
    width: 100%;
    margin-top: 16px;

    .divider {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;

      .line {
        background-color: var(--m-subtle-bolder);
        width: 100%;
        height: 1px;
      }
    }

    .logins {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      margin-top: 16px;

      .google,
      .microsoft {
        display: flex;
        align-items: center;
        gap: 7px;
        padding: 8px 16px;
        border: 1px solid var(--m-subtle-bolder);
        cursor: pointer;

        img {
          width: 16px;
          height: 16px;
          -o-object-fit: contain;
          object-fit: contain;
        }

        &:hover {
          background-color: var(--m-subtle-card-background-color);
        }
      }
    }
  }

  .register {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 7px;
    margin-top: 16px;

    .create__account {
      color: var(--m-primary);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
