.loading-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  svg {
    font-family: Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    fill: #003366;
  }

  &__letter {
    opacity: 0;
    -webkit-animation: fadeIn 1s ease-in-out infinite alternate;
    animation: fadeIn 1s ease-in-out infinite alternate;
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
