.loading-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: var(--m-white, #ffffff);

  &__logo {
    max-width: 300px;
    max-height: 100px;
    object-fit: contain;
  }
}
