.folders-container {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 12px;

  &__list {
    background-color: var(--m-white);
    padding: 10px 3px 10px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
    border-radius: var(--m-border-radius);
    border: 1px solid var(--m-border);

    .folder-info {
      display: flex;
      align-items: center;
      gap: 10px;

      &--name {
        font-weight: 500;
        color: var(--m-text);
      }

      &--icon {
        display: flex;

        svg {
          color: #6d89a8;
          font-size: 22px;
        }
      }
    }
  }
}
