.rich-text-editor-container {
  width: 100%;
  position: relative;
  margin-bottom: 15px;

  &__reading {
    padding: 8px;
    border-radius: 4px;
    line-height: 32px;
    overflow-y: auto;

    &:not(.rich-text-editor-container__reading--read-only) {
      &:hover {
        background-color: var(--m-subtle-light);
      }
    }

    &--border {
      border: var(--m-default-border);
      height: 40px;
      padding: unset;
      display: flex;
      align-items: center;
      padding-left: 16px;
      opacity: 0.6;
    }

    p {
      font-size: 14px;
      font-weight: normal;
      line-height: 30px;
    }

    a {
      color: #0065ff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    img {
      width: 200px;
    }

    ul {
      padding-left: 20px;
    }

    ol {
      padding-left: 30px;
    }

    .image-container {
      position: relative;
      display: inline-block;

      .resize {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 10px;
        height: 100%;
        background-color: tomato;
        cursor: col-resize;
      }
    }

    blockquote {
      box-sizing: border-box;
      padding-left: 16px;
      border-left: 2px solid #d0d5dd;
      margin: 0.75rem 0px;
    }

    code {
      cursor: text;
      color: #172b4d;
      border-radius: 3px;
      font-size: 14px;
      line-height: 24px;
      background-color: #eceff1;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 8px;
      overflow-wrap: break-word;
      white-space: pre-wrap;
      margin: 0.75rem 0px;
      min-height: 40px;
    }
  }
}
