.support {
  width: 100%;
  position: relative;
  padding: 0 0 32px;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--m-white);

  &__logo {
    position: absolute;
    top: 16px;
    left: 16px;

    img {
      width: 120px;
    }
  }

  &__login {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .header {
    background-color: #6c2bd9;
    background: linear-gradient(93deg, #e6e6fa 13.38%, #b3d9ff 98.72%);
    margin-bottom: 2rem;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--m-white);
    color: var(--m-text);

    h1 {
      font-size: 2.2rem;
      margin-bottom: 2rem;
      font-weight: 700;
    }

    .search {
      position: relative;
      width: 45%;
      display: flex;
      align-items: center;

      &__input {
        width: 100%;
        padding: 0.75rem 3.15rem 0.75rem 0.75rem;
        border-radius: 5px;
        border: none;
        font-size: 1rem;
        position: relative;

        &:focus {
          border: none;
          outline: none;
        }
      }

      svg {
        position: absolute;
        top: 12px;
        right: 20px;
        font-size: 20px;
      }
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    color: var(--m-text);
    cursor: pointer;

    svg {
      font-size: 36px;
      color: var(--m-primary);
    }

    h4 {
      font-weight: 500;
    }

    p {
      color: var(--m-subtle-xxbolder);
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
    }
  }

  &__body {
    padding: 0 10rem;

    section {
      margin-bottom: 24px;
      // width: 80%;

      h2 {
        color: var(--m-text);
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 20px;
        margin-bottom: 24px;
      }

      h3 {
        margin-bottom: 16px;
        font-weight: 500;
      }

      p {
        line-height: 24px;
        margin-bottom: 16px;
      }

      pre {
        background-color: #f4f4f4;
        padding: 16px;
        border-radius: 4px;
        white-space: pre-line;
        margin-bottom: 16px;
      }

      ul,
      ol {
        margin-left: 40px;
      }
      ul li,
      ol li {
        padding: 5px 10px;
      }
    }
  }
}
