.default-container {
  display: grid;
  grid-template-columns: 260px 4fr;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--m-background-color);

  .default-sidebar {
    background-color: #fff;
    width: 260px;
    max-width: 260px;
    z-index: 20;
    bottom: 0;
    position: fixed;
    top: 0;
    transition: ease-in-out 0.4s;
    box-shadow: var(--m-header-box-shadow);
    border-right: 1px solid var(--m-default-border-color);

    &.mobile-sidebar {
      width: 80px;
      max-width: 80px;
      min-width: 80px;
    }
  }

  .default-main {
    margin-left: 260px;
    overflow: auto;
    width: calc(100vw - 260px);
    height: 100vh;
    max-width: calc(100vw - 260px);
    transition: ease-in-out 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    position: relative;
    overflow-y: auto;

    &.mobile-main {
      margin-left: 70px;
      width: calc(100vw - 80px);
      max-width: calc(100vw - 70px);
    }
  }

  .overlay-container {
    background-color: rgba(19, 33, 68, 0.25);
    width: 100vw;
    height: 100vh;
    z-index: 30;
  }

  .sidebar-sm-md {
    background-color: var(--m-sidebar-background-color);
    width: 250px;
    z-index: 50;
  }
}

@media (max-width: 480px) {
  .default-container {
    grid-template-columns: 0px 4fr;
    position: relative;

    .default-sidebar {
      width: 0px;
      max-width: 0px;
    }

    .default-main {
      margin-left: 0px;
      width: 100vw;
      height: 100vh;
      max-width: 100vw;
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .default-container {
    grid-template-columns: 0px 8fr;
    position: relative;

    .default-sidebar {
      width: 0px;
      max-width: 0px;
    }

    .default-main {
      margin-left: 0px;
      width: 100vw;
      height: 100vh;
      max-width: 100vw;
    }
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .default-container {
    grid-template-columns: 0px 12fr;

    .default-sidebar {
      width: 0px;
      max-width: 0px;
    }

    .default-main {
      margin-left: 0px;
      width: 100vw;
      height: 100vh;
      max-width: 100vw;
    }
  }
}
