.lozenge-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;

  &--bold {
    font-weight: bold;
  }

  &--upper {
    text-transform: uppercase;
  }

  &--default {
    background-color: var(--m-neutral);
    color: var(--m-white);
  }

  &--default-subtle {
    background-color: var(--m-background-subtle-neutral);
    color: var(--m-neutral);
  }

  &--info {
    background-color: var(--m-primary);
    color: var(--m-white);
  }

  &--info-subtle {
    background-color: var(--m-background-subtle-primary);
    color: var(--m-primary);
  }

  &--success {
    background-color: var(--m-success);
    color: var(--m-white);
  }

  &--success-subtle {
    background-color: var(--m-background-subtle-success);
    color: var(--m-success);
  }

  &--warning {
    background-color: var(--m-warning);
    color: var(--m-text);
  }

  &--warning-subtle {
    background-color: var(--m-background-subtle-warning);
    color: var(--m-warning-xbolder);
  }

  &--danger {
    background-color: var(--m-danger);
    color: var(--m-white);
  }

  &--danger-subtle {
    background-color: var(--m-background-subtle-danger);
    color: var(--m-danger);
  }
}

[m-data-theme='dark'] {
  .lozenge-container {
    &--warning,
    &--danger,
    &--success,
    &--default {
      color: #162949;
    }
  }
}
