.badge-container {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  &__content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;

    .badge-type {
      display: flex;
      flex-flow: row wrap;
      -webkit-box-pack: center;
      place-content: center;
      align-items: center;
      position: absolute;
      box-sizing: border-box;
      font-weight: 400;
      font-size: 0.75rem;
      min-width: 20px;
      line-height: 1;
      padding: 0px 6px;
      height: 20px;
      border-radius: 10px;
      z-index: 1;
      transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      color: var(--m-white);
      top: 0px;
      right: 0px;
      transform: scale(1) translate(50%, -50%);
      transform-origin: 100% 0%;

      &--empty {
        min-width: 8px;
        line-height: 1;
        padding: 0px;
        height: 8px;
        border-radius: 4px;
      }

      &__default {
        background-color: #f1f2f4;
        color: var(--ds-text);
      }

      &__primary {
        background-color: var(--m-primary);
      }

      &__warning {
        background-color: var(--m-warning);
        color: var(--m-text);
      }

      &__danger {
        background-color: var(--m-danger);
      }

      &__success {
        background-color: var(--m-success);
      }

      &__dark {
        background-color: var(--m-text);
      }
    }
  }
}

[m-data-theme='dark'] {
  .badge-container {
    &__content {
      .badge-type {
        &__default {
          background-color: rgba($color: #fff, $alpha: 0.2);
          color: #fff;
        }

        &__primary,
        &__warning,
        &__danger,
        &__success,
        &__dark {
          color: #2d1f23;
        }
      }
    }
  }
}
