.components-container {
  width: 100%;
  position: relative;
  margin-bottom: 30px;

  &--title {
    font-weight: 500;
  }

  &__content {
    border: 1px solid var(--m-subtle-bolder);
    margin-top: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }

  &__snippet {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 30px;

    &--show-more {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      cursor: pointer;
      text-align: center;
      padding: 5px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 12px;
      z-index: 2;
      background-color: #f0f2f6;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      &:hover {
        background-color: var(--m-subtle);
      }

      svg {
        font-size: 18px;
      }
    }

    &--cover {
      width: 100%;
      height: 100%;
      background-color: #f0f2f6;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      background: linear-gradient(
        to bottom,
        rgba(240, 242, 246, 0),
        rgba(240, 242, 246, 1) 100%
      );
    }
  }
}

[m-data-theme='dark'] {
  .components-container {
    &__content {
      border-color: rgba($color: #fff, $alpha: 0.2);
    }

    &__snippet {
      &--show-more {
        background-color: var(--m-card-background-color);
        color: #fff;
      }

      &--cover {
        background: linear-gradient(
          to bottom,
          rgba(42, 48, 66, 0),
          rgba(42, 48, 66, 1) 100%
        );
      }
    }

    &--title {
      color: var(--m-text);
    }

    &--description {
      color: var(--m-text-light);
    }
  }
}
