.quick-summary {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px 16px;

  &__items {
    display: flex;
    align-items: center;
    gap: 12px;

    &__image {
      min-width: 35px;
      min-height: 35px;
      background-color: var(--m-subtle-card-background-color);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--m-border-radius);

      img {
        width: 18px;
      }
    }

    .progress {
      > div {
        &:first-child {
          font-weight: 500;
          color: var(--m-text);
        }
      }

      &--bold {
        > div {
          &:first-child {
            font-weight: 600;
          }

          &:last-child {
            font-weight: 500;
            font-size: 13px;
            color: var(--m-text);
            font-family: 'Roboto', sans-serif;
          }
        }
      }
    }
  }
}

[m-data-theme='dark'] {
  .quick-summary {
    &__items {
      &__image {
        background-color: rgba(71, 80, 107, 0.4);
      }
    }
  }
}
