.items__container {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  margin-top: 20px;

  .table-line {
    display: flex;
    align-items: center;

    &--img {
      min-width: 20px;
      width: 20px;
      max-width: 20px;
    }

    .icon__spreadsheet {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        font-size: 27px;
        color: var(--primary);
      }

      .close__icon {
        position: absolute;
        top: 5px;

        svg {
          font-size: 17px;
          color: var(--primary);
        }
      }
    }
  }
}

.file-list__folder-icon {
  display: flex;
  align-items: center;
  gap: 10px;

  svg {
    font-size: 22px;
    color: #6d89a8;
  }
}

[data-theme='dark'] {
  .items__container {
    background-color: var(--ct-background-card-dark);
  }
}
