.email-compose-container {
  // padding: 16px;
  width: 500px;
  height: 450px;
  position: fixed;
  bottom: 0;
  right: 70px;
  z-index: var(--m-z-index-fixed);
  background-color: var(--m-sidebar-background-color);
  box-shadow:
    0px -4px 10px rgba(9, 30, 66, 0.15),
    0px 0px 1px rgba(9, 30, 66, 0.32);
  display: flex;
  flex-direction: column;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: var(--m-text);

  &__header {
    background-color: var(--m-subtle-card-background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;

    &--icons {
      cursor: pointer;

      > * {
        font-size: 18px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 16px 8px;

    &--to,
    &--subject {
      border: transparent;
      border-bottom: 1px solid var(--m-border) !important;
      border-radius: 0;
      padding: 0;

      &:not([disabled]):not(&--valid):not(&--invalid) {
        &:hover:not(:focus) {
          background-color: transparent;
        }
      }
    }

    &--message {
      width: 100%;
      min-height: 180px;
      resize: none;
      margin-top: 16px;
      border: none;
      font-family: 'Inter', sans-serif;
      background-color: var(--m-sidebar-background-color);
      color: var(--m-text);

      &:focus {
        outline: none;
      }
    }
  }
}
