.dropdown-menu-container {
  position: relative;

  &__header {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--m-text-muted);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      background-color: #eceff1;
    }

    span {
      font-size: var(--m-font-size-250);
      color: tomato;
    }

    .icon {
      font-size: 20px;
    }
  }

  &__content {
    min-width: 10rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 0.9rem;
    // color: #212529;
    border-radius: var(--m-border-radius);
    box-shadow: var(--m-dropdown-shadow);
    z-index: var(--m-z-index-dropdown);
    border: 1px solid var(--m-border-tooltip);
    position: fixed;
    padding: 0.2rem 0;
    background-color: var(--m-card-background-color);

    transition: opacity 0.3s ease-in-out;

    opacity: 0;
    visibility: hidden;

    &--visible {
      opacity: 1;
      visibility: visible;
    }

    &__item {
      width: 100%;
      padding: 0.5rem 1rem;
      clear: both;
      font-weight: 400;
      text-align: inherit;
      text-decoration: none;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      color: var(--m-text);

      &:hover {
        background-color: var(--m-dropdown-hover);
      }

      &--icon {
        font-size: 22px;
        display: flex;
        align-items: center;
      }
    }
  }
}

[m-data-theme='dark'] {
  .dropdown-menu-container {
    &__header {
      &:hover {
        background-color: var(--m-subtle-card-background-color);
      }
    }
  }
}
