.content {
  &__custom {
    height: 100%;
    border-radius: 0px !important;

    > div {
      &:nth-child(2) {
        height: 82vh;
        padding-bottom: 100px;

        &::-webkit-scrollbar-thumb {
          display: none;
        }
      }

      &:nth-child(3) {
        padding: 12px;
        bottom: -22px;
        border-radius: 0;
      }
    }
  }
}
