.split-button-container {
  position: relative;
  display: flex;
  align-items: center;

  &__botton {
    button {
      border-top-left-radius: var(--m-border-radius) !important;
      border-bottom-left-radius: var(--m-border-radius) !important;
    }
  }

  &__trigger-button {
    border-top-right-radius: var(--m-border-radius);
    border-bottom-right-radius: var(--m-border-radius);
  }

  &__divider {
    background-color: var(--m-white);
    width: 0px;
    height: 32px;
    padding: 0.4px;

    &--default {
      background-color: #000;
    }

    &--primary,
    &--warning,
    &--danger {
      background-color: var(--m-white);
    }
  }

  &__dropdown {
    padding: 0;
    margin: 0;

    &--default {
      height: 32px;
      font-size: 18px;
    }

    &--small {
      height: 26px;
      font-size: 12px;
    }

    &--medium {
      height: 42px;
      font-size: 20px;
    }

    &--large {
      height: 52px;
      font-size: 24px;
    }
  }
}
