.confirm-email-container {
  .icon {
    width: 60px;
    height: 60px;
    background-color: #eff2f7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 16px;

    svg {
      color: var(--m-primary);
      font-size: 22px;
    }
  }

  .message {
    text-align: center;
    margin-top: 16px;
  }
}
