.mobile-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--m-chat-background-color);

  &__header {
    width: 100%;
    padding: 16px;

    .search {
      input {
        width: 100%;
        background-color: var(--m-subtle-card-background-color);
        color: var(--m-text-light);

        &::-webkit-input-placeholder {
          color: var(--m-text-light);
        }

        &::-moz-placeholder {
          color: var(--m-text-light);
        }

        &:-ms-input-placeholder {
          color: var(--m-text-light);
        }

        &::-ms-input-placeholder {
          color: var(--m-text-light);
        }

        &::placeholder {
          color: var(--m-text-light);
        }
      }

      svg {
        font-size: 18px;
        color: var(--m-icon-color);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 16px;

    .chats {
      display: flex;
      gap: 12px;

      &__infos {
        display: flex;
        flex-direction: column;
        width: 100%;
        line-height: 22px;
        cursor: pointer;

        .info {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &__name {
            font-size: 13px;
            color: var(--m-text);
            font-weight: 400;
          }

          &__date {
            font-size: 10px;
            color: var(--m-text-muted);
          }

          &__message {
            font-size: 12px;
            color: var(--m-text-muted);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &__count {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: var(--m-primary);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            color: var(--white);
          }

          &--unread {
            .info__name,
            .info__date,
            .info__message {
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  &__create {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 56px;
    height: 56px;
    background-color: var(--m-primary);
    color: var(--m-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 15px rgba(0, 95, 237, 0.2);

    svg {
      font-size: 32px;
    }
  }
}
