.integrations {
  width: 100%;
  position: relative;

  .integration-card {
    border: 1px solid var(--m-border-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    padding: 16px 0;
    background-color: var(--m-card-background-color);
    border-radius: var(--m-border-radius-md);
    box-shadow: var(--m-box-shadow-card);

    &__header {
      padding: 0 16px;
    }

    &__body {
      padding: 0 16px;
      display: flex;
      flex-direction: column;

      &__name {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 16px;
        color: var(--m-text);
      }

      &__description {
        color: var(--m-text-muted);
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }
    }

    &__footer {
      border-top: 1px solid var(--m-border-color);
      padding: 16px 16px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

[m-data-theme='dark'] {
  .integrations {
    .integration-card {
      border-color: transparent;
    }
  }
}
