.banner-container {
  width: 100%;
  position: relative;

  &__content {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    padding: 0.75rem;
    font-size: 14px;
    font-weight: 450;

    &--default {
      background-color: var(--m-neutral);
      color: var(--m-white);
    }

    &--info {
      background-color: var(--m-primary);
      color: var(--m-white);
    }

    &--warning {
      background-color: var(--m-warning);
    }

    &--danger {
      background-color: var(--m-danger);
      color: var(--m-white);
    }

    &--icon {
      font-size: 22px;
      display: flex;
    }
  }
}

[m-data-theme='dark'] {
  .banner-container {
    &__content {
      &--default {
        background-color: var(--m-subtle-card-background-color);
        color: var(--m-white-light);
      }

      &--info,
      &--warning,
      &--danger {
        color: #162949;
      }
    }
  }
}
