.comment-container {
  width: 100%;
  position: relative;
  display: flex;
  gap: 12px;
  margin-bottom: 16px;

  &__comment {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__header {
      display: flex;
      align-items: flex-start;
      gap: 8px;

      &--author {
        font-weight: 500;
      }

      &--time {
        font-weight: 300;
      }
    }

    &__content {
      font-weight: 400;
    }

    &__actions {
      display: flex;
      align-items: center;
      gap: 8px;

      &--action {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        font-weight: 500;
      }
    }
  }
}
