.image-view-container {
  width: 100%;
  max-width: 250px;
  height: 100%;
  max-height: 400px;

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: var(--m-border-radius);
  }
}
