.files-container {
  .grid-container {
    .files__list {
      padding: 15px;
      cursor: pointer;
      position: relative;
      box-sizing: content-box;

      .files__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
        position: relative;
        color: var(--m-primary);
      }

      .files__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        z-index: 1;

        .icon {
          svg {
            font-size: 50px;
            color: var(--m-primary);
          }
        }

        .icon__spreadsheet {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            font-size: 50px;
            color: var(--m-primary);
          }

          .close__icon {
            position: absolute;
            top: 10px;

            svg {
              font-size: 33px;
              color: var(--m-primary);
            }
          }
        }
      }

      .files__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        z-index: 1;
        position: relative;
        background-color: var(--m-white);

        .file__title {
          font-weight: 600;
          font-size: 16px;
        }

        .file__size {
          font-size: 12px;
          font-weight: 400;
        }
      }

      .files__view {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
      }
    }
  }
}
