.goal-tracker {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 16px 0 0;

  &__chart {
    width: 120px;
    box-shadow: unset;
  }

  &__infos {
    display: flex;
    flex-direction: column;

    .value {
      font-size: 18px;
      font-weight: 600;
      color: var(--m-text);
    }

    .target {
      color: var(--m-text-light);
      margin-left: 4px;
    }

    .description {
      font-size: 13px;
      color: var(--m-text-muted);
    }
  }
}
