.dropzone-container {
  width: 100%;

  &__draggable {
    height: 200px;
    background-color: transparent;
    border: 1.5px dashed var(--m-border-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 4px;
    color: var(--m-text);

    &--icon {
      font-size: 40px;
      color: var(--m-icon-color);
    }

    &--title {
      font-weight: 500;
    }

    &--or {
      font-weight: 400;
    }

    &--browser {
      background-color: var(--m-subtle-card-background-color);
      padding: 4px 16px;
      border-radius: 4px;

      &:hover {
        color: var(--m-primary);
      }
    }
  }

  &__files {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__file {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid var(--m-border);
      padding: 8px;
      border-radius: 4px;
      color: var(--m-text);

      &--image {
        width: 25px;
        height: 25px;
      }

      &--button {
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        &:hover {
          background-color: var(--m-subtle-card-background-color);
        }

        svg {
          font-size: 18px;
          color: var(--m-icon-color);
        }
      }
    }
  }
}
