.radio-container {
  width: 100%;
  position: relative;
  display: flex;

  &--disabled {
    cursor: not-allowed;
    opacity: 0.6;

    .radio-container__label {
      cursor: not-allowed;
    }
  }

  &__radio {
    display: flex;
    min-width: 25px;
    min-height: 25px;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: transparent;
    border-radius: 50%;
    outline: none;
    border: 0.25rem solid #8e9aaa;
    transform: scale(calc(0.6));
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: background-color var(--m-transition-slow);

    &:checked {
      border: 0.4rem solid var(--m-primary);
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__label {
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--m-text);
  }
}
