.drawer-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  align-items: flex-start;
  z-index: var(--m-z-index-modal-backdrop);
  background: var(--m-modal-overlay-background-color);
  overflow: auto;
  -webkit-animation: fadeIn 0.4s;
  animation: fadeIn 0.4s;
  color: var(--m-text);

  &--right {
    justify-content: flex-end;
  }

  &--left {
    justify-content: flex-start;
  }

  &--top {
    justify-content: center;
  }

  &--bottom {
    justify-content: center;
  }

  .drawer-content {
    background-color: var(--m-card-background-color);
    color: var(--m-text);
    display: flex;
    flex-direction: column;
    outline: 0px;
    pointer-events: auto;
    border: 1px solid transparent;
    z-index: var(--m-z-index-modal);
    height: 100%;
    min-width: 350px;

    &--scroll-inside {
      height: auto;
      max-height: 100%;

      .body {
        height: auto;
        overflow: auto;
      }
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 0 0 auto;
      z-index: 1;
      padding: 16px 24px;
      box-shadow: none;

      &--title {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
      }

      &--close {
        padding: 4px;
        cursor: pointer;
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;

        &:hover {
          background-color: var(--m-subtle);
        }
      }

      &--border-bottom {
        border-bottom: 2px solid var(--m-subtle-bolder);
      }
    }

    .body {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: 8px 24px;
      overflow-x: hidden !important;
    }

    .footer-drawer {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      padding: 16px;
      position: relative;

      &__buttons {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &--border-top {
        border-top: 2px solid var(--m-subtle-bolder);
      }
    }
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
