.video-player-container {
  position: relative;
  color: rgba($color: #fff, $alpha: 0.7);
  z-index: 1;
  display: flex;
  align-items: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 140px;
  min-width: 250px;

  &__video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: var(--m-border-radius);
    -o-object-fit: cover;
    object-fit: cover;
  }

  &__controls {
    position: absolute;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 60px;
    background: linear-gradient(to top, rgb(15, 16, 18), rgba(14, 21, 33, 0));
    transition: opacity ease-in-out 0.4s;
    border-bottom-left-radius: var(--m-border-radius);
    border-bottom-right-radius: var(--m-border-radius);

    &__control {
      display: flex;
      align-items: center;
      gap: 8px;
      position: absolute;
      bottom: 5px;
      width: 100%;
      padding: 0 5px;
      transition: ease-in 0.2s;

      &--fullscreen {
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
          font-size: 22px;
        }
      }

      &--play {
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
          font-size: 22px;
        }
      }

      &--current-time {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;

        span {
          position: absolute;
          width: 100%;
          font-size: 12px;
        }
      }

      &--progress {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        cursor: pointer;
        outline: none;
        border-radius: 15px;
        height: 3px;

        &::-webkit-slider-thumb {
          opacity: 0;
        }

        &::-moz-range-thumb {
          opacity: 0;
        }
      }
    }
  }
}
