.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  -moz-column-gap: 16px;
  column-gap: 16px;
  row-gap: 16px;
}

.grid-container-fluid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100vw;
  margin: 0;
  padding: 0;
  -moz-column-gap: 16px;
  column-gap: 16px;
  row-gap: 16px;
}

/* Small devices (landscape phones, 429px and up) */
@media (max-width: 767.88px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 8px;
    column-gap: 8px;
  }
  .grid-sm-1 {
    grid-column: span 1;
  }
  .grid-sm-2 {
    grid-column: span 2;
  }
  .grid-sm-3 {
    grid-column: span 3;
  }
  .grid-sm-4 {
    grid-column: span 4;
  }
  .grid-sm-5 {
    grid-column: span 5;
  }
  .grid-sm-6 {
    grid-column: span 6;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(8, 1fr);
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
  .grid-md-1 {
    grid-column: span 1;
  }
  .grid-md-2 {
    grid-column: span 2;
  }
  .grid-md-3 {
    grid-column: span 3;
  }
  .grid-md-4 {
    grid-column: span 4;
  }
  .grid-md-5 {
    grid-column: span 5;
  }
  .grid-md-6 {
    grid-column: span 6;
  }
  .grid-md-7 {
    grid-column: span 7;
  }
  .grid-md-8 {
    grid-column: span 8;
  }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1025px) {
  .grid-container {
    grid-template-columns: repeat(12, 1fr);
    -moz-column-gap: 24px;
    column-gap: 24px;
  }
  .grid-lg-1 {
    grid-column: span 1;
  }
  .grid-lg-2 {
    grid-column: span 2;
  }
  .grid-lg-3 {
    grid-column: span 3;
  }
  .grid-lg-4 {
    grid-column: span 4;
  }
  .grid-lg-5 {
    grid-column: span 5;
  }
  .grid-lg-6 {
    grid-column: span 6;
  }
  .grid-lg-7 {
    grid-column: span 7;
  }
  .grid-lg-8 {
    grid-column: span 8;
  }
  .grid-lg-9 {
    grid-column: span 9;
  }
  .grid-lg-10 {
    grid-column: span 10;
  }
  .grid-lg-11 {
    grid-column: span 11;
  }
  .grid-lg-12 {
    grid-column: span 12;
  }
}
