.inline-edit-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 200px;
  max-width: 100%;
  position: relative;

  &__reading {
    width: 100%;
    height: auto;
    padding: 12px;
    border-radius: var(--m-border-radius);
    cursor: text;
    border: 1.5px solid transparent;

    &:hover {
      background-color: var(--m-subtle-light);
    }
  }

  &__editing {
    width: 100%;
    height: auto;
    padding: 12px;
    border-radius: var(--m-border-radius);
    border: 1.5px solid var(--m-primary);
    outline: none;

    &:focus {
      outline: none;
    }

    &--invalid {
      border-color: var(--m-danger);
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    margin-top: 5px;
    position: absolute;
    right: 0;
    z-index: var(--m-z-index-sticky);

    &--button {
      width: 30px;
      height: 30px;
      background-color: var(--m-card-background-color);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      cursor: pointer;
      color: var(--m-text);
      box-shadow:
        0 0 1px rgba(18, 38, 63, 0.4),
        0px 0px 0.625rem 0.25rem rgba(18, 38, 63, 0.05);

      &:hover {
        background-color: var(--m-subtle-light);
      }
    }
  }
}

[m-data-theme='dark'] {
  .inline-edit-container {
    &__buttons {
      &--button {
        background-color: #34455f;

        &:hover {
          background-color: #2d3c52;
        }
      }
    }
  }
}
