.status-container {
  position: relative;

  &__content {
    width: 20px;
    height: 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--m-white);

    .icon__status {
      font-size: 16px;
    }

    &.error {
      background-color: #f15d53;
    }

    &.pending {
      background-color: #feca22;
    }

    &.success {
      background-color: #0cc599;
    }
  }
}
