/******************************
*  Shadows Tokens
******************************/
:root {
  --m-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  --m-dropdown-shadow:
    0 8px 10px rgba(9, 30, 66, 0.15), 0 0 1px rgba(9, 30, 66, 0.2);
  --m-box-shadow-card: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  --m-header-box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
}

[m-data-theme='dark'] {
  --m-box-shadow: 0 0.75rem 1.5rem transparent;
  --m-dropdown-shadow: 0 8px 10px transparent, 0 0 1px transparent;
  --m-box-shadow-card: 0 0.75rem 1.5rem transparent;
  --m-header-box-shadow: 0px 0px 35px 0px transparent;
}
