/******************************
*  Spacing Tokens
******************************/
:root {
  --m-space-0: 0rem;
  --m-space-025: 0.125rem;
  --m-space-050: 0.25rem;
  --m-space-075: 0.375rem;
  --m-space-100: 0.5rem;
  --m-space-150: 0.75rem;
  --m-space-200: 1rem;
  --m-space-250: 1.25rem;
  --m-space-300: 1.5rem;
  --m-space-350: 2rem;
  --m-space-400: 2.5rem;
  --m-space-450: 3rem;
  --m-space-500: 4rem;
  --m-space-600: 5rem;
}
