/******************************
*  Z-index Tokens
******************************/
:root {
  --m-z-index-sticky: 1020;
  --m-z-index-fixed: 1030;
  --m-z-index-modal-backdrop: 1040;
  --m-z-index-offcanvas: 1050;
  --m-z-index-modal: 1060;
  --m-z-index-mask: 1061;
  --m-z-index-dropdown: 1062;
  --m-z-index-popover: 1070;
  --m-z-index-tooltip: 1080;
  --m-z-index-lazy-load: 1090;
}
